#logo-container {
  color: white;
} 

#navbarid {
  padding-left: 5%;
  padding-right: 5%;
}


#icon-div {
  background-color: black;
  color: white;
  padding-left: 5%;

}

.container {
  width: 100%;
}

#parallax-section-two {
  background-color: black;
  color: white;
  padding: 5%;
}

body {
  background-color: black;

}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

form{
  color: white;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 568px) {
  #index-banner .section {
    top: 0;
  }

  #navbarid {
    padding-left: 1%;
    padding-right: 1%;
  }
}

#nav-mobile{
  color: white;
  font-weight: 500;
  background-image: url("https://wallpaperplay.com/walls/full/b/7/1/258947.jpg");
  background-color: #292a2c;
}

li{
  color: white;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.kev-dev-nav-img{
  margin-top: .4rem;
  max-width: 10rem;
}

.kev-dev-home-img{
  margin-top: 5rem;
  max-width: 40%;
  min-width: 20rem;
}

.about-text {
  text-align: left; 
  color: white; 
  font-size: 14pt; 
  font-family: 'Jura';
}
.face-img{
  text-align: center; 
  max-width: 200px; 
  min-width: 50px; 
  margin: .5rem 1rem 0 0; 
  float: left;
}

h6{
  font-size: 1.2rem;
  margin: 0;
}

.future-proj-images{
  max-width: 100%;
}

.future-proj-row{
  display: flex;
  margin-bottom: 5rem !important; 
}
/* columns on future projects page */
.right{
  display: flex;
  justify-content:center;
  align-self: center;
}
.left{
  display: flex;
  justify-content:center;
  align-self: center;
}
.future-text{
  color:white;
  display: flex;
  font-size: 14pt; 
  font-family: 'Jura';
  text-align: left;
  vertical-align: middle;
}
.ggd-link{
  transition: filter .5s ease;
}
.ggd-link:hover{
  filter: drop-shadow(0 0 15px rgb(0, 197, 59))
}

#valence-img{
  filter: drop-shadow(0 0 5px #4ff);
}

.xs6{
  max-width: 50%;
}

footer.page-footer {
  margin: 0;
  padding-left: 5%;
}

#connect-footer {
  padding-right: 5%;
  float: right;
}

#copyright {
  text-align: center;
}

@media screen and (max-width: 700px) {
    .crystalmathlogo {
        padding-top: 20%;
    }
}
